.scheduledTask {
	animation-name: appearing;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.scheduledTaskFading {
	animation-name: slideFadingOut;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes appearing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideFadingOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.day {
	display: inline-flex;
	border-radius: 50%;
	flex-direction: column;
	justify-content: center;
	/* padding: 8px; */
	width: 36px;
	height: 36px;
	/* margin-right: 8px; */
	cursor: pointer;
	box-sizing: border-box;
	background-color: var(--white);
}

.enabled {
	background-color: var(--primary-10);
	border: var(--border-width) solid var(--primary);
}

.disabled {
	/* border: var(--border-width) solid var(--gray-20); */
	box-shadow: var(--card-shadow);
}

.timeChangeModal {
	display: block;
}

.timeChangeModalHidden {
	display: none;
}