:root {
	--button-min-height: calc(var(--normal-font-size) * 2.6667);
}

.button-nodecoration {
	position: relative;
	bottom: 0;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition-property: bottom, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.button {
	border-radius: var(--border-radius);
	width: fit-content;
	min-height: var(--button-min-height);
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px 0 16px;
	position: relative;
	bottom: 0;
}

.secondary {
	box-shadow: var(--card-shadow);
}

.wrapper {
	display: inline-flex;
}

.wrapper:hover .button {
	bottom: 3px;
}

.wrapper:hover .default {
	box-shadow: var(--card-shadow-darker);
}

.wrapper:hover .secondary {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}