:root {
	--button-min-height: calc(var(--normal-font-size) * 2.6667);
}

.button-nodecoration {
	position: relative;
	cursor: pointer;
	user-select: none;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition-property: bottom, box-shadow, background-color;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
	display: inline-flex;
}

.button {
	border-radius: var(--border-radius);
	width: fit-content;
	min-height: var(--button-min-height);
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px 0 16px;
	position: relative;
}

.secondary {
	box-shadow: var(--card-shadow);
}

.disabled {
	cursor: not-allowed;
	border: 1.5px solid var(--primary);
}

.wid100 {
	width: 100%;
}

.button.secondary:hover {
	background-color: var(--primary);
}

.button.secondary:hover p {
	color: var(--white);
}

.button.secondary:hover path {
	fill: var(--white);
}

.button.danger:hover {
	background-color: var(--danger);
}

.button.danger:hover p {
	color: var(--white);
}

.button.danger:hover path {
	fill: var(--white);
}

.button.default:hover {
	background-color: var(--primary-darker);
}

.textAlignleft {
	text-align: left;
}