:root {
	--gray-10: #f0f0f0;
	--gray-20: #E6E6E6;
	--gray-50: #8C8C8C;
	--gray-70: #656565;
	--gray-100: #232323;
	--white: white;
	--primary: #0B84F3;
	--primary-darker: #0a6fce;
	--primary-10: #D8ECFF;
	--danger: #df2b37;
	--success: #3bbb27;
}

.gray10 {
	color: var(--gray-10);
}

.gray20 {
	color: var(--gray-20);
}

.gray50 {
	color: var(--gray-50);
}

.gray70 {
	color: var(--gray-70);
}

.gray100 {
	color: var(--gray-100);
}

.danger {
	color: var(--danger);
}

.white {
	color: var(--white);
}

.primary {
	color: var(--primary);
}

.primary10 {
	color: var(--primary-10);
}

.bgWhite {
	background-color: var(--white);
}

.bgPrimary {
	background-color: var(--primary);
}

.bgPrimaryDarker {
	background-color: var(--primary-darker);
}

.bgDanger {
	background-color: var(--danger);
}

.bgTransparent {
	background-color: var(--danger);
}

.bgGray20 {
	background-color: var(--gray-20);
}

.bgPrimary10 {
	background-color: var(--primary-10);
}

.icon-primary svg path{
	fill: var(--primary);
}

.icon-white svg path {
	fill: var(--white);
}

.icon-success svg path{
	fill: var(--success);
}

.icon-danger svg path{
	fill: var(--danger);
}

.icon-gray50 svg path{
	fill: var(--gray-50);
}