/* .box { */
/* } */

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.widthauto {
	width: auto;
}

.heightauto {
	height: auto;
}

.mb4 {
	margin-bottom: 4px;
}

.mt4 {
	margin-top: 4px;
}

.mb16 {
	margin-bottom: 16px;
}

.mb32 {
	margin-bottom: 32px;
}

.mv16 {
	margin: 0 16px;
}

.pt32 {
	padding-top: 32px;
}

.pb32 {
	padding-bottom: 32px;
}

.pl16 {
	padding-left: 16px;
}

.pr16 {
	padding-right: 16px;
}