:root {
	--card-border: var(--border-width) solid var(--gray-20);
} 

.device-card {
	background: var(--white); 
	/* border: var(--card-border); */
	border-radius: 8px;
	box-shadow: var(--card-shadow);
}

.device-brief div {
	text-align: left;
}

.device-brief {
	cursor: pointer;
	padding: 16px;
	width: 100%;
}

.divider {
	width: 100%;
	height: var(--border-width);
	/* background-color: var(--gray-20); */
	background-color: var(--gray-10);
}