:root {
	--card-border: var(--border-width) solid var(--gray-20);
} 

.device-card {
	background: var(--white); 
	/* border: var(--card-border); */
	border-radius: var(--border-radius);
	box-shadow: var(--card-shadow);
}

.device-brief div {
	text-align: left;
}

.device-brief {
	cursor: pointer;
	padding: 16px;
	width: 100%;
	border-radius: var(--border-radius);
	transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.divider {
	width: 100%;
	height: var(--border-width);
	background-color: var(--gray-10);
}

.dividerInvisible {
	width: 100%;
	height: var(--border-width);
	background-color: transparent;
}

.device-brief:hover, .device-brief:focus, .device-brief:focus-visible {
	background-color: var(--primary);
}

.device-brief:hover p, .device-brief:focus p, .device-brief:focus-visible p{
	color: var(--white);
}

.device-brief:hover h4, .device-brief:focus h4, .device-brief:focus-visible h4{
	color: var(--white);
}

.device-brief:hover path, .device-brief:focus path, .device-brief:focus-visible path {
	fill: var(--white);
}